#editor{
background-color: #a5a3a3;
overflow: auto;
min-height: 800px;

}

#preview{
min-height: 800px;
font-size: large;
border: #999999;
overflow: auto;
}
.APP{
  background-color: rgb(128, 128, 136);
}
.navbar-color{
  background-color: rgb(0, 0, 0);
}
.bar{
  padding-bottom: 3px;
  border:rgb(22, 22, 15);
  background-color: rgb(207, 202, 202);
}
.btn2,.btn3,.btn1{
  margin-left: 5px;
}
